h1 {
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: red;
    /*syntax one for text decoration with color*/
    text-decoration: wavy red underline;
    font-family: arial;
}

h3 {
    text-align: left;
    font-weight: 650;
    /*syntax two*/
    text-decoration: blue line-through;
}

h2 {
    text-align: left;
    font-weight: 700;
    text-decoration: overline;
}

p {
    text-align: left;
    font-weight: 300;
    line-height: 2.5;
    letter-spacing: 2px;
    font-size: 20px;
}

a {
    text-decoration: none;
}