.card {
    width: 200px;
    height: 200px;
    border: 2x solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 18px black;
    transition: 1s;
}

.desc {
    padding: 2px 2px 2px 16px;
}

img {
    /* with the help of percentage we set the width of image
     equal to parent that is div element */
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 0px 8px 16px black;
}